<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1 class="title">New user</h1>

            <hr>

            <form action="/user-zone/signup" method="POST">

                {{> usernamePassword}}
                
                <button type='submit' class='btn btn-dark btn-block btn-costum'>Sign up</button>

                {{> errorMsg}}

            </form>

        </div>

    </div>

</div>