<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>New user</h1>

            <hr>

            {{!-- <form action="/user-zone/signup" method="POST" enctype="multipart/form-data"> --}}
            <form action="/user-zone/signup" method="POST">

                {{> usernamePassword}}
                
                {{!-- <div class='form-group'>
                    <div class="custom-file">
                        <input name="imageFile" type="file" class="custom-file-input" id="imageFile">
                        <label class="custom-file-label" for="imageFile">Select image</label>
                    </div>
                </div> --}}

                <button type='submit' class='btn btn-dark btn-block btn-costum'>Sign up</button>
                {{#if errorMsg}}
                <p style="margin-top: 10px;background:#A59C94; color: white; text-align: center; padding: 10px">
                    {{errorMsg}}</p>
                {{/if}}

            </form>

        </div>

    </div>

</div>