<div class="container">

    <h1>{{title}}</h1>
    <h5>Welcome to {{title}}</h5>


    <!-- Footer -->
    <footer class="page-footer font-small blue">

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <p> ShopsINT_</p>
        </div>

    </footer>
    <!-- Footer -->
</div>
