<div class="edit container places-index">
    <div class="row justify-content-between">
        <h1 class="title" style="font-weight: 150">Active users:</h1>
    </div>

    <hr>

    <div class="row">

    {{#each allUsers}}

    <div class="col-3.5">

        <div class="card" style="width: 18rem;">


            <div class="card-body">
                <h5 class="card-title">Username: {{this.username}}</h5>

                <form action="/user-zone/change-role?user_id={{_id}}" method="POST">
                    <div class="form-group">
                        <label for="type-list">Role:</label>
                        <select name="role" class="form-control" id="role-list">
                            <option>{{role}}</option>
                            <option value="ADMIN">Admin</option>
                            <option value="OWNER">Owner</option>
                            <option value="GUEST">Guest</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark btn-sm btn-costum">Save changes</button>
                </form>
                
                <div style="display: flex;">
                    <a href="/user-zone/profile" class="btn btn-dark btn-sm btn-costum">Back</a>
                    <form action="/user-zone/delete?user_id={{_id}}" method="POST">
                        <button type="submit" class="btn btn-dark btn-sm mx-2 btn-costum" style="background:#A59C94">Delete
                            user</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
 

    {{/each}}
    </div>


</div>