<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h2>Edit user</h2>

            <form action="/user-zone/edit?user_id={{user._id}}" method="POST">

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" value="{{user.username}}">
                </div>

                {{!-- AGREGAR COMENTARIO PARA QUE PIDA SIEMPRE LA CONTRASEÑA PARA MODIFICACIONES DEL PERFIL --}}
                <div class=" form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder='******'>
                </div>

                <div class="form-group">
                    <label>Profile image</label>
                    <input type="text" class="form-control" name="profileImg" value="{{user.profileImg}}">
                </div>

                <button type="submit" class="btn btn-dark">Save</button>
                <a href="/user-zone/profile" class="btn btn-dark">Cancel</a>

            </form>

        </div>

    </div>

</div>