<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-10">

            <h1>Welcome back <strong>{{user.username}}</strong></h1>
            <img src="{{user.profileImg}}" alt="{{user.username}} image">

            <hr>

            <a href="/user-zone/edit" class="btn btn-sm btn-dark btn-costum" style="background:#A59C94">Edit Profile</a>
            <a href="/user-zone/favorites" class="btn btn-sm btn-dark mx-2 btn-costum">Favorite shops</a>

            {{#if isAdmin}}
            <a href="/user-zone/delete" class="btn btn-sm btn-dark btn-costum">Users List</a>
            {{/if}}

            {{#if isOwner}}
            <a href="/user-zone/my-shops" class="btn btn-sm btn-dark btn-costum">Owned Shops</a>
            {{/if}}

        </div>

    </div>

</div>