<div class="container">

    <div class="row justify-content-center">

        <h2><strong>Welcome {{user.username}}</strong></h2>
        <img src="{{profileImg}}" alt="{{username}} image">
        <a href="/user-zone/edit" class="btn btn-sm btn-dark mx-2">Edit</a>
        <a href="/user-zone/favorites" class="btn btn-sm btn-dark mx-2">My favorite shops</a>

        {{#if isAdmin}}
        <a href="/user-zone/delete" class="btn btn-dark">Users List</a>
        {{/if}}

        

    </div>

</div>