html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 40px;
}

h1 {
  margin-top: 20px;
}

.navbar,
.marginB {
  margin-bottom: 20px;
}

.navbar-custom {
  background-color: #919D9D;
}

.btn-costum {
  background-color: #919D9D;
  border: #919D9D;
  margin-bottom: 40px;
}

.new-shop-btn {
  padding-left: 0;
}

// .btn-costum, .danger {                       // Que sea solo para el de DELETE
//   background-color: #A59C94;
//   border: #A59C94;
// }

.btn-costum:hover {
  background-color: #A4BCC2;
  border: #A4BCC2;
}

img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

// --- MAPS ---
#shopsMap,
#shopMap {
  height: 500px;
  background-color: grey;
}

.shop-info img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.detail-img {
  border-radius: 10px;
}

.list {
  padding-left: 0;
}

.list2 {
  padding-left: 0;
}

.page-footer {
  background-color: #A4BCC2;
  justify-content: center;
  ;
}

.title {
  padding-bottom: 20px;
}


// --- FOOTER ---
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


// --- LIST SHOPS ---
.listShops {
  padding-bottom: 100px;
}


// --- HOME ---
.home {
  padding-bottom: 60px;
}