<div class="edit container places-index">

    <div>

        <div class="col-md-7">

            <h1 class="title" style="font-weight: 100">New shop</h1>

            <hr>

            <form action="/shops/new" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name-input">Name</label>
                    <input name="name" type="text" class="form-control" id="name-input">
                    <p><small>*Obligatory field</small></p>
                </div>

                {{> shopImage}}

                <div class="form-group">
                    <label for="type-list">Nationality:</label>
                    <select name="nationality" class="form-control" id="nationality-list">
                        <option>Select</option>
                        {{> shopNationality}}
                    </select>
                    <p><small>*Obligatory field</small></p>
                </div>

                <div class="form-group">
                    <label for="name-input">Description</label>
                    <input name="description" type="text" class="form-control" id="description-input">
                </div>

                <div class="form-group">
                    <label for="name-input">Schedule</label>
                    <input name="schedule" type="text" class="form-control" id="schedule-input"
                        placeholder="*9:00 am to 8:00 pm">
                </div>

                <div class="form-group">
                    <label for="latitude-input">Latitude</label>
                    <input name="latitude" type="text" class="form-control" id="latitude-input">
                </div>

                <div class="form-group">
                    <label for="longitude-input">Longitude</label>
                    <input name="longitude" type="text" class="form-control" id="longitude-input">
                </div>

                {{> errorMsg}}

                <button type="submit" class="btn btn-dark btn-costum new-shop">Create Shop</button>
                <a href="/shops" class="btn btn-dark btn-costum mx-2 new-shop">Back to shops</a>

            </form>

        </div>

    </div>

</div>